
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');


body {
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
}

body,html,#root,.App{
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}